extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float mx-auto text-center big-top-space")
        h1 Bienvenidos a fotofacilito
        a(href="/login", class="right-space") Iniciar sesión
        a(href="/signup") Registro