<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FotoFacilito
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/app.css" rel="stylesheet")
        script(src="/socket.io/socket.io.js")
        script(src="/js/handlebars.js")
    body
        nav(class="large-padding black white-text")
            ul
                li 
                    a(href="/app") Inicio
                li
                    a(href="/app/imagenes/new") Subir imagen
                li 
                    a(href="/app/imagenes") Mis imágenes
        block contenido